body {
  background-color: #f8f9fa !important;
}

.App {
  text-align: center;
}

.map-container {
  height: 600px;
}

.tooltip {
  background-color: transparent;
  outline: none;
  border: none;
  box-shadow: none;
  width: 60px;
}
